.pokeinfo__stats-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pokeinfo__stats-item span:nth-child(2) {
  justify-self: end;
}

.outbar {
  overflow: hidden;
  grid-column: span 2;
  border: 1px solid;
  border-radius: 5px;
  height: 20px;
  width: 100%;
}

.inbar {
  background-color: orange;
  height: 100%;
}
