.pokepages {
  display: flex;
  gap: 5px;
  padding-top: 50px;
}

.pokepages button {
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  width: 60px;
  border: 4px solid #f40637;
  border-radius: 10px;
  background: linear-gradient(red, blue);
}

.pokepages span {
  font-size: 1.8rem;
  font-weight: 500;
}
